html,
body
    font-family: 'Lato', sans-serif
    margin: 0

h1
    margin: 0
    padding: 0.5em

.title
    background-color: #FF9800
    color: #fff

.filter-container
    background-color: #FFB74D
    color: #fff
    padding: 0.5em

    label
        padding-right: 0.5em

        span
            text-transform: uppercase

.main
    height: 200px
    overflow: scroll
    padding: 0.5em
    width: 500px

    table
        .checkbox
            width: 5%

        .url
            width: 75%
            word-break: break-all

        .type
            width: 25%
            text-transform: uppercase


.footer
    padding: 0.5em
